#heading {
  background-image: url('/img/music.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
}


body {
  margin: 0 auto;
  padding: 0;
  background-color: lightgrey;
}


.content {
  margin-top: 50px;
}
